.message {
    height: 50px;
    margin: 10px 0;
}

.author {
    background-color: burlywood;
}

.text {
    background-color: burlywood;
    margin: 10px 0;
    height: 50px;
}

.button {
    border: black;
    background-color: cadetblue;
    margin: 10px 0;
}